:root {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

html, body {
  overscroll-behavior-y: none;
}

/* Code */
code {
  border-radius: 0.35em !important;
}

/* Keyboard */

.md-typeset kbd {
  border-radius: 0.35em !important;
  font-size: 0.8em !important;
  padding: 0.1em 0.5em !important;
}

/* Admonition palette */
:root {
  --md-admonition-icon--palette: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m2.53 19.65 1.34.56v-9.03l-2.43 5.86c-.41 1.02.06 2.19 1.09 2.61m19.5-3.7L17.07 4a2 2 0 0 0-1.81-1.25c-.26 0-.53.04-.79.15L7.1 5.95a2.02 2.02 0 0 0-1.23 1.8c-.01.25.04.54.13.8l5 11.95c.29.78 1.03 1.24 1.81 1.25.26 0 .52-.05.77-.15l7.36-3.05a1.994 1.994 0 0 0 1.09-2.6M7.88 8.75a1 1 0 0 1-1-1 1 1 0 0 1 1-1c.55 0 1 .45 1 1s-.45 1-1 1m-2 11a2 2 0 0 0 2 2h1.45l-3.45-8.34v6.34Z"/></svg>'); /* material/palette-swatch.svg */
}

.md-typeset .admonition.palette,
.md-typeset details.palette {
  border-color: var(--md-primary-fg-color--auto);
}

.md-typeset .palette > .admonition-title,
.md-typeset .palette > summary {
  background-color: rgb(
    from var(--md-primary-fg-color--auto) r g b / 0.1
  ); /* Not yet supported by some browsers */
}

.md-typeset .palette > .admonition-title::before,
.md-typeset .palette > summary::before {
  background-color: var(--md-primary-fg-color--auto);
  -webkit-mask-image: var(--md-admonition-icon--palette);
  mask-image: var(--md-admonition-icon--palette);
}

/* Color scheme switching animation */

@media screen {
  [data-md-color-switching] *,
  [data-md-color-switching] :after,
  [data-md-color-switching] :before {
    transition-duration: .5s !important;
    transition-delay: .1s !important;
  }
}

html, body {
	-webkit-transition: background-color .5s ease .1s !important;
	transition: background-color .5s ease .1s !important;
}
