:root {
	--md-text-font: "Oppo Sans";
	/*
	--md-code-font: "JetBrains Mono"
	 */
  }

/* Oppo Sans */
.font-opposans {
  font-family: "Oppo Sans";
}

@font-face {
  font-family: "Oppo Sans";
  src: url("./font/opposans/OPPOSans-L.ttf");
  font-weight: 150;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("./font/opposans/OPPOSans-R.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("./font/opposans/OPPOSans-M.ttf");
  font-weight: 450;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("./font/opposans/OPPOSans-B.ttf");
  font-weight: 650;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("./font/opposans/OPPOSans-H.ttf");
  font-weight: 850;
}

/* 滕王阁序 */
.font-twgx {
  font-family: "滕王阁序";
}

@font-face {
  font-family: "滕王阁序";
  src: url("./font/twgx/twgx.ttf");
  font-weight: normal;
}

/* Ogg */
.font-ogg {
  font-family: "Ogg";
}

@font-face {
  font-family: "Ogg";
  src: url("./font/ogg/Ogg-Thin.otf");
  font-weight: 150;
}

@font-face {
  font-family: "Ogg";
  src: url("./font/ogg/Ogg-ThinItalic.otf");
  font-weight: 150;
  font-style: italic;
}

@font-face {
  font-family: "Ogg";
  src: url("./font/ogg/Ogg-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Ogg";
  src: url("./font/ogg/Ogg-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Ogg";
  src: url("./font/ogg/Ogg-Regular.otf");
  font-weight: 450;
}

@font-face {
  font-family: "Ogg";
  src: url("./font/ogg/Ogg-RegularItalic.otf");
  font-weight: 450;
  font-style: italic;
}

@font-face {
  font-family: "Ogg";
  src: url("./font/ogg/Ogg-Medium.otf");
  font-weight: 650;
}

@font-face {
  font-family: "Ogg";
  src: url("./font/ogg/Ogg-MediumItalic.otf");
  font-weight: 650;
  font-style: italic;
}

@font-face {
  font-family: "Ogg";
  src: url("./font/ogg/Ogg-Bold.otf");
  font-weight: 850;
}

@font-face {
  font-family: "Ogg";
  src: url("./font/ogg/Ogg-Bold.otf");
  font-weight: 850;
  font-style: italic;
}

.font-oggtext {
  font-family: "Ogg Text";
}

@font-face {
  font-family: "Ogg Text";
  src: url("./font/ogg/OggText-Thin.otf");
  font-weight: 150;
}

@font-face {
  font-family: "Ogg Text";
  src: url("./font/ogg/OggText-ThinItalic.otf");
  font-weight: 150;
  font-style: italic;
}

@font-face {
  font-family: "Ogg Text";
  src: url("./font/ogg/OggText-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Ogg Text";
  src: url("./font/ogg/OggText-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Ogg Text";
  src: url("./font/ogg/OggText-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Ogg Text";
  src: url("./font/ogg/OggText-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Ogg Text";
  src: url("./font/ogg/OggText-Medium.otf");
  font-weight: 650;
}

@font-face {
  font-family: "Ogg Text";
  src: url("./font/ogg/OggText-MediumItalic.otf");
  font-weight: 650;
  font-style: italic;
}

@font-face {
  font-family: "Ogg Text";
  src: url("./font/ogg/OggText-Bold.otf");
  font-weight: 850;
}

@font-face {
  font-family: "Ogg Text";
  src: url("./font/ogg/OggText-Bold.otf");
  font-weight: 850;
  font-style: italic;
}

/* Roboto Slab */
.font-robotoslab {
  font-family: "Roboto Slab";
}

@font-face {
	font-family: "Roboto Slab";
	src: url("./font/robotoslab/RobotoSlab-Thin.ttf");
	font-weight: 100;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("./font/robotoslab/RobotoSlab-ExtraLight.ttf");
	font-weight: 200;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("./font/robotoslab/RobotoSlab-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("./font/robotoslab/RobotoSlab-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("./font/robotoslab/RobotoSlab-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("./font/robotoslab/RobotoSlab-SemiBold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("./font/robotoslab/RobotoSlab-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("./font/robotoslab/RobotoSlab-ExtraBold.ttf");
	font-weight: 800;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("./font/robotoslab/RobotoSlab-Black.ttf");
	font-weight: 900;
}

/* 霞鹜文楷 */
.font-lxgw {
  font-family: "霞鹜文楷";
}

@font-face {
  font-family: "霞鹜文楷";
  src: url("./font/lxgw/LXGWWenKai-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "霞鹜文楷";
  src: url("./font/lxgw/LXGWWenKai-Regular.ttf");
  font-weight: 450;
}

@font-face {
  font-family: "霞鹜文楷";
  src: url("./font/lxgw/LXGWWenKai-Bold.ttf");
  font-weight: 800;
}

.font-lxgw-mono {
  font-family: "霞鹜文楷等宽";
}

@font-face {
  font-family: "霞鹜文楷等宽";
  src: url("./font/lxgw/LXGWWenKaiMono-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "霞鹜文楷等宽";
  src: url("./font/lxgw/LXGWWenKaiMono-Regular.ttf");
  font-weight: 450;
}

@font-face {
  font-family: "霞鹜文楷等宽";
  src: url("./font/lxgw/LXGWWenKaiMono-Bold.ttf");
  font-weight: 800;
}

/* Novecento */
.font-novecento {
  font-family: "Novecento";
}

@font-face {
  font-family: "Novecento";
  src: url("./font/novecento/Novecento\ Light.otf");
  font-weight: 150;
}

@font-face {
  font-family: "Novecento";
  src: url("./font/novecento/Novecento\ Normal.otf");
  font-weight: 350;
}

@font-face {
  font-family: "Novecento";
  src: url("./font/novecento/Novecento\ Medium.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Novecento";
  src: url("./font/novecento/Novecento\ Bold.otf");
  font-weight: 850;
}

/* Nikkei Maru */
.font-nikkeimaru {
  font-family: "Nikkei Maru";
}

@font-face {
  font-family: "Nikkei Maru";
  src: url("./font/nikkeimaru/NikkeiMaruTrial-Bold.otf");
  font-weight: bold;
}

/* Red Hat Text */
.font-redhattext {
  font-family: "Red Hat Text";
}

@font-face {
	font-family: "Red Hat Text";
	src: url("./font/redhattext/RedHatText-Light.ttf");
	font-weight: 150;
}

@font-face {
	font-family: "Red Hat Text";
	src: url("./font/redhattext/RedHatText-LightItalic.ttf");
	font-weight: 150;
	font-style: italic;
}

@font-face {
	font-family: "Red Hat Text";
	src: url("./font/redhattext/RedHatText-Regular.ttf");
	font-weight: 300;
}

@font-face {
	font-family: "Red Hat Text";
	src: url("./font/redhattext/RedHatText-Italic.ttf");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Red Hat Text";
	src: url("./font/redhattext/RedHatText-Medium.ttf");
	font-weight: 450;
}

@font-face {
	font-family: "Red Hat Text";
	src: url("./font/redhattext/RedHatText-MediumItalic.ttf");
	font-weight: 450;
	font-style: italic;
}

@font-face {
	font-family: "Red Hat Text";
	src: url("./font/redhattext/RedHatText-SemiBold.ttf");
	font-weight: 650;
}

@font-face {
	font-family: "Red Hat Text";
	src: url("./font/redhattext/RedHatText-SemiBoldItalic.ttf");
	font-weight: 650;
	font-style: italic;
}

@font-face {
	font-family: "Red Hat Text";
	src: url("./font/redhattext/RedHatText-Bold.ttf");
	font-weight: 850;
}

@font-face {
	font-family: "Red Hat Text";
	src: url("./font/redhattext/RedHatText-BoldItalic.ttf");
	font-weight: 850;
	font-style: italic;
}
