:root {
  --md-text-font: "Oppo Sans";
  /*
  --md-code-font: "JetBrains Mono"
   */
  }

/* Oppo Sans */
.font-opposans {
  font-family: "Oppo Sans";
}

@font-face {
  font-family: "Oppo Sans";
  src: url("./font/opposans/OPPOSans-L.ttf");
  font-weight: 150;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("./font/opposans/OPPOSans-R.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("./font/opposans/OPPOSans-M.ttf");
  font-weight: 450;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("./font/opposans/OPPOSans-B.ttf");
  font-weight: 650;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("./font/opposans/OPPOSans-H.ttf");
  font-weight: 850;
}
